/* styles for html and body elements */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #faf8ed;
  color: #5B5F62;
  font-family: Poppins, 'Source Sans Pro';
  left: 0;
  right: 0;
  width: auto;
}

/* styles for paragraph elements */
p {
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    min-height: 56px;
    margin-bottom: 30px;
}

/* styles for menu section */
.menu-container {
    z-index: 2;
    position: relative;
    width: 100%;
    background-color: #faf8ed;
    min-width: 300px;
    user-select: none;
}
  
.menu {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

.menu-table {
    padding: 10px 10px;
    width: 100%;
    margin: 0;
}

/* styles for flex container */
.flex-row-space-between {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    box-sizing: border-box;
}

.logo {
    margin-left: 20px;
}

/* styles for flex container */
.flex-row-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    box-sizing: border-box;
}

.menu-button {
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
    margin-right: 20px;
}
  
.menu-button img {
    width: 0px;
    height: 30px;
}

.menu-items a {
    text-decoration: none;
    font-style: normal;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #2E476B;
    font-family: Poppins;
    flex: 1 auto;
    transition: opacity 0.1s ease-in-out;
    white-space: nowrap;
}
  
.menu-items a:not(:last-child) {
    margin-right: 25px;
}
  
.menu-items a:hover {
     color: #5B5F62
}

.flex-item {
    margin: 0 20px;
}

/* media queries for responsiveness */
@media screen and (max-width: 750px) {
    .menu-items {
      display: none;
      width: 100%;
    }
  
    .menu-items a:first-child {
      margin-top: 10px;
    }
  
    .menu-items a {
      width: 100%;
      padding: 10px 0;
    }
  
    .menu-button {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      align-content: stretch;
      box-sizing: border-box;
    }
  
    .menu-button:focus {
      pointer-events: none;
    }
  
    .menu-button:focus+.menu-items {
      display: block;
    }
  
    .menu-button:focus+.menu-items a {
      display: block;
    }
  
    .menu-items:hover {
      display: block;
    }
  
    .menu-items>a {
      display: block;
    }
}

.content-container {
    z-index: 1;
    position: relative;
    width: 100%;
    min-width: 300px;
}

.content {
    position: relative;
    margin: 0 auto;
    font-size: 16px;
    font-family: Sen, 'Source Sans Pro';
    color: #5B5F62;
    font-weight: 300;
    line-height: 1.5;
    max-width: 1300px;
    overflow-x: auto;
}
  
.text-large {
    color: #2d3134;
    font-size: 84px;
    font-weight: 700;
    line-height: 86px;
    font-family: Sen;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
}

.flex-row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    box-sizing: border-box;
}

.text-medium {
    color: #2d3134;
    font-size: 50px;
    font-weight: 700;
    line-height: 86px;
    font-family: Sen;  
}

.text-small a {
    color: #2d3134;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    font-family: Sen;
    text-decoration: underline;
}

.flex-item {
  margin: 0 20px;
}

.flex-item-stretch {
  flex: 1 auto;
}

.flex-item-stretch-4 {
  flex: 4;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: top;
  width: 100%;
  font-size: 1.5rem;
}

input,
textarea {
  background-color: #fff;
  color: #2d3134;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  font-family: inherit;
  font-size: 2rem;
}

.button {
  background-color: #2d3134;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.max-width-400 {
  max-width: 400px;
}

#n1 {
  color: #2d3134;
  font-size: 20px;
  font-weight: 700;
  line-height: 86px;
  font-family: Sen;
  text-decoration: none;
}

.n2 {
  max-width: 750px;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
}

.n2 a {
  text-decoration: underline;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  color: #5B5F62;
}

#n3 {
  color: #2d3134;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  font-family: Inter;
  text-decoration: none;
}

.footer {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 30px 0;
}

.social a {
  height: 40px;
  width: 40px;
  margin:0 15px 15px 0;
  line-height: 40px;
  color: #2d3134;
  transition: all .5s ease;
}

.social a:hover {
  color: darkblue;
}

/* media queries for responsiveness */
@media screen and (max-width: 1000px) {
  .content, .content-container, .flex-row, .flex-column, 
  .flex-item, .flex-item-stretch, .flex-item-stretch-4 {
      align-items: center;
      align-content: center;
      text-align: center;
      flex: auto;
  }

  .text-large {
      font-size: 50px;
  }

  .text-medium {
      font-size: 30px;
  }
}